@import "tailwindcss";

/* -----------------------------------  FONTS  ----------------------------------------- */

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('woff2'),
       url('/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
       url('/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.woff2') format('woff2'),
       url('/fonts/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-Regular.woff2') format('woff2'),
       url('/fonts/SourceCodePro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}




:root {
  /* Fonts */
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  --font-accent: 'Raleway', sans-serif;
  --font-mono: 'Source Code Pro', monospace;

  /* Colors */
  --color-primary: #85FFC7;
  --color-secondary: #297373;
  --color-accent: #FF8552;
  --color-neutral: #E6E6E6;
  --color-dark: #1A1A1A;
  --color-white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}
.font-accent {
  font-family: var(--font-accent);
}
.font-mono {
  font-family: var(--font-mono);
}


@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modalFadeIn {
  animation: modalFadeIn 0.4s ease-out forwards;
}


@layer utilities {
  .animate-slideIn {
    animation: slideIn 0.5s ease-out forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
